.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  background-color: #121212;
}

.header{
  position:fixed;
  display: absolute;
  text-align: center;
  width:100%;
  padding-bottom:30px ;
  background-image: linear-gradient(to top, rgba(110, 106, 106, 0), rgba(110, 106, 106, 0.5), rgba(110, 106, 106, 0.9));
  color: white;
}

.change-content{
  color: white;
  width:50%;
  
}

.tilt-object{
  border: 5px dotted white;
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.data-item{
  display:flex;
  width:100%;
  justify-content: space-between;
  margin: 5px;
}

.item-value{
  text-align: left;
  width:33%;
  letter-spacing: 0.5px;
}